.container {
  @include flexContainer(row);
  width: 100%;
}

.wrapper {
  @include flexContainer(row);
  width: 90%;
  border-top: 2px solid $green;
  justify-content: space-evenly;
  padding: 1rem;
}

.contact {
  @include flexContainer(column);
  align-items: flex-start;
  h4 {
    margin: 5px 0;
    color: $orange;
  }
  p {
    margin: 3px 0;
  }
}
.mail {
  transition-duration: 0.4s;
}
.mail:hover {
  color: $green;
}

.links {
  @include flexContainer(column);
  align-items: flex-start;
  h4 {
    margin: 5px 0;
    color: $orange;
  }
}

.links > * {
  transition-duration: 0.4s;
  margin: 3px 0;
}

.links > *:hover {
  color: $green;
}

@media screen and (max-width: 800px) {
  .wrapper {
    justify-content: space-between;
  }
}

@media screen and (max-width: 650px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .contact,
  .links {
    width: 50%;
    margin: auto;
  }
}

@media screen and (max-width: 500px) {
  .contact,
  .links {
    width: 90%;
  }
}
