.container {
  @include flexContainer(row);
  width: 100vw;
  height: 80px;
  position: fixed;
  top: 0;
  background-color: $black;
  z-index: 900;
}

.wrapper {
  @include flexContainer(row);
  padding: 0 1rem;
  width: 90%;
  height: 100%;
  border-bottom: 2px solid $green;
  justify-content: space-between;
}

.inner_container {
  @include flexContainer(row);
  font-size: 1.5rem;
  transition-duration: 0.4s;
  justify-content: space-between;
}

.title {
  cursor: pointer;
  transition-duration: 0.4s;
  font-weight: 600;
}

.title:hover {
  color: $green;
}

.toggle_btn {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  transition-duration: 0.4s;
  cursor: pointer;
  span {
    width: 100%;
    height: 3px;
    background-color: $white;
  }
}

.toggle_btn:hover {
  span {
    background-color: $green;
  }
}

.logo {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.nav {
  @include flexContainer(row);
  gap: 1rem;
}

.nav > * {
  transition-duration: 0.4s;
}

.nav > *:hover {
  color: $green;
}

@media screen and (max-width: 1000px) {
  .toggle_btn {
    display: flex;
  }

  .nav {
    display: none;
  }

  .inner_container {
    width: 100%;
  }

  .open {
    @include flexContainer(column);
    width: 90%;
    background-color: $black;
    z-index: 900;
    position: fixed;
    top: 0;
    padding: 0 1rem;
    border-bottom: 2px solid $green;
    justify-content: space-between;
    .inner_container {
      width: 100%;
      height: 80px;
    }
    .nav {
      @include flexContainer(column);
      height: auto;
      width: 100%;
      padding: 1rem 0;
    }
    .nav > * {
      width: 100%;
      text-align: center;
      cursor: pointer;
      padding: 5px 0;
      font-weight: 500;
    }
    .nav > *:hover {
      color: $black;
      background-color: $green;
    }
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 400px) {
  .title {
    font-size: 1rem;
  }
}
