.container {
  @include flexContainer(column);
  width: 100%;
  margin-top: 100px;
  overflow-x: hidden;
}
.title {
  @include title();
}

.wrapper {
  @include flexContainer(row);
  justify-content: space-between;
  width: 80%;
  padding: 2rem;
}

.wrapper {
  div {
    transition-duration: 0.75s;
    transition-timing-function: ease-out;
    opacity: 0;
  }
  div:first-child {
    position: relative;
    left: -25%;
  }
  div:last-child {
    position: relative;
    right: -25%;
  }
}

.wrapper:nth-child(even) {
  background-color: #111;
}

.visible {
  div {
    opacity: 1;
  }
  div:first-child {
    position: relative;
    left: 0;
  }
  div:last-child {
    position: relative;
    right: 0;
  }
}

.content {
  @include flexContainer(column);
  justify-content: space-evenly;
  align-items: flex-start;
  width: 55%;
  height: 100%;
  padding: 1rem;
  h3 {
    color: $orange;
    font-size: 2rem;
    font-family: "Russo One", sans-serif;
    letter-spacing: 1px;
  }
  p {
    font-size: 1.5rem;
  }
}

.img {
  @include flexContainer(row);
  width: 40%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    height: 500px;
  }
  .content {
    p {
      font-size: 1.25rem;
    }
  }
}

@media screen and (max-width: 1000px) {
  .wrapper {
    @include flexContainer(column);
    height: auto;
    width: 80%;
  }
  .wrapper:nth-child(odd) {
    flex-direction: column-reverse;
  }
  .content {
    width: 100%;
    height: auto;
    align-items: center;
    p {
      text-align: center;
    }
  }
  .img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    width: 90%;
  }
  .content {
    h3 {
      font-size: 1.35rem;
    }
  }
}

@media screen and (max-width: 450px) {
  .content {
    h3 {
      font-size: 1.25rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
