.container {
  @include flexContainer(column);
  align-items: flex-start;
  margin-top: 100px;
  width: 70%;
  padding-bottom: 1rem;
  h3 {
    color: $orange;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 1.2rem;
  }
}

.title {
  @include title();
}

.link {
  color: $orange;
  cursor: pointer;
  transition-duration: 0.4s;
}

.link:hover {
  color: $green;
}

@media screen and (max-width: 900px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 85%;
  }
}
