.container {
  @include flexContainer(column);
  align-items: flex-start;
  margin-top: 80px;
  width: 70%;
  h1 {
    color: $green;
  }
  h3 {
    color: $orange;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 1.2rem;
  }
}

.link {
  color: $orange;
  cursor: pointer;
  transition-duration: 0.4s;
}

.link:hover {
  color: $green;
}
