$black: #000;
$green: #0d0;
$white: #ccc;
$orange: #f83;

@mixin flexContainer($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

@mixin title {
  font-size: 2.5rem;
  color: $green;
  text-align: center;
  justify-self: center;
  align-self: center;
  font-family: "Russo One", sans-serif;
  letter-spacing: 1px;
}
